<ion-header>
  <ion-toolbar>
    <ion-title>Neue Vokabel</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Englische Vokabel</ion-label>
    <ion-input type="text" [(ngModel)]="flashcard.back" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Übersetzung</ion-label>
    <ion-input type="text" [(ngModel)]="flashcard.front" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" (click)="createFlashCard(flashcard)">
    Zur Liste hinfügen
  </ion-button>
</ion-content>
