<ion-header>
  <ion-toolbar>
    <ion-title> Englische Vokabel </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-flash-card *ngFor="let flashcard of (flashCardList|async)">
    <div class="flash-card-front">{{flashcard.front}}</div>

    <div class="flash-card-back">
      {{flashcard.back}}
      <ion-buttons slot="primary">
        <ion-button color="secondary" routerLink="/create">
          <ion-icon slot="icon-only" name="add">Add</ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </app-flash-card>
</ion-content>
